### connecting to server

In [2]:
#importing lib
import sqlite3
conn=sqlite3.connect("dbName.db")

#### Creating Sales Table

In [ ]:
#creating curcose object to execute sql quaries 
cursor=conn.cursor()

#creating table 
cursor.execute("CREATE TABLE IF NOT EXISTS sales (sales_id INTEGER PRIMARY KEY, customer_id TEXT)")

In [10]:
#interting values in the sales table 
# query="""INSERT INTO sales(sales_id,customer_id) VALUES(101,"C1001")"""
#creating loop to insert all values in one go

sales_data = [
    (102, "C1002"),
    (103, "C1003"),
    (104, "C1001"),
    (105, "C1005"),
    (106, "C1006"),
    (107, "C1007"),
    (108, "C1008"),
    (150, "C1050")
]

for data in sales_data:
    sales_id, customer_id = data
    query = f"INSERT INTO sales(sales_id, customer_id) VALUES({sales_id}, '{customer_id}')"
    cursor.execute(query)

# cursor.execute(query)

In [11]:
query="Select * from sales"
cursor.execute(query)
rows=cursor.fetchall()
print(rows)

[(101, 'C1001'), (102, 'C1002'), (103, 'C1003'), (104, 'C1001'), (105, 'C1005'), (106, 'C1006'), (107, 'C1007'), (108, 'C1008'), (150, 'C1050')]

#### Creating customer table

In [12]:
#creating table 
cursor.execute("CREATE TABLE IF NOT EXISTS customer (customer_id TEXT,age integer)")

In [15]:
#inserting values
customer_data = [
("C1001",30),
("C1002",25),
("C1003",40),
("C1004",22),
("C1005",35),
("C1006",28),
("C1007",19),
("C1008",40),
("C1009",23),
("C1010",31),
("C1045",37)]

for data in sales_data:
    customer_id, age = data
    query = f"INSERT INTO customer(customer_id, age) VALUES({customer_id}, '{age}')"
    cursor.execute(query)

In [24]:
query="Select * from customer"
cursor.execute(query)
rows=cursor.fetchall()
print(rows)

[('102', 'C1002'), ('103', 'C1003'), ('104', 'C1001'), ('105', 'C1005'), ('106', 'C1006'), ('107', 'C1007'), ('108', 'C1008'), ('150', 'C1050')]

#### creating orders table

In [17]:
#creating table 
cursor.execute("CREATE TABLE IF NOT EXISTS orders (order_id TEXT,sales_id integer,item_id Text,quantity integer)")

In [21]:
#inserting values
order_data = [
("O2001",101,"I3001",3),
("O2002",102,"I3002",2),
("O2003",103,"I3003",1),
("O2004",104,"I3004",4),
("O2005",105,"I3005",2),
("O2050",150,"I3050",3)
]

for data in order_data:
    order_id, sales_id, item_id, quantity = data
    query = f"INSERT INTO orders(order_id, sales_id, item_id, quantity) VALUES ('{order_id}', {sales_id}, '{item_id}', {quantity})"
    cursor.execute(query)

In [23]:
query="Select * from orders"
cursor.execute(query)
rows=cursor.fetchall()
print(rows)

[('O2001', 101, 'I3001', 3), ('O2002', 102, 'I3002', 2), ('O2003', 103, 'I3003', 1), ('O2004', 104, 'I3004', 4), ('O2005', 105, 'I3005', 2), ('O2050', 150, 'I3050', 3)]

### creating items table

In [25]:
#creating table 
cursor.execute("CREATE TABLE IF NOT EXISTS items (item_id TEXT,item_name Text)")

In [28]:
#inserting values
items_data = [
("I3001","Laptop"),
("I3002","Smartphone"),
("I3003","Headphones"),
("I3004","Tablet"),
("I3005","Fitness Tracker"),
("I3006","Wireless Mouse"),
("I3007","Coffee Maker"),
("I3008","Yoga Mat"),
("I3009","Sunglasses"),
("I3010","Portable Charger"),
("I3045","Bluetooth Speaker")
]

for data in items_data:
    item_id, item_name = data
    query = f"INSERT INTO items(item_id, item_name) VALUES ('{item_id}', '{item_name}')"
    cursor.execute(query)

In [30]:
query="Select * from items"
cursor.execute(query)
rows=cursor.fetchall()
print(rows)

[('I3001', 'Laptop'), ('I3002', 'Smartphone'), ('I3003', 'Headphones'), ('I3004', 'Tablet'), ('I3005', 'Fitness Tracker'), ('I3006', 'Wireless Mouse'), ('I3007', 'Coffee Maker'), ('I3008', 'Yoga Mat'), ('I3009', 'Sunglasses'), ('I3010', 'Portable Charger'), ('I3045', 'Bluetooth Speaker')]

### Question 1 --> extract the total quantity of each item purchased by customers aged 18 to 35 years

In [32]:
# Execute the query
query = """
SELECT c.customer_id, i.item_name, SUM(o.quantity) AS Total_Quantity
FROM customer c
INNER JOIN sales s ON c.customer_id = s.customer_id
INNER JOIN orders o ON s.sales_id = o.sales_id
INNER JOIN items i ON o.item_id = i.item_id
WHERE c.age BETWEEN 18 AND 35
GROUP BY c.customer_id, i.item_name;
"""

# Execute the query and fetch results
cursor.execute(query)
rows = cursor.fetchall()

In [33]:
# Print the results
for row in rows:
    print(f"Customer ID: {row[0]}, Item Name: {row[1]}, Total Quantity: {row[2]}")

## Using Pandas

In [39]:
import pandas as pd

file = r"E:\interview\EastVantage\assignment_20240215.xlsx"

df_sales = pd.read_excel(file, sheet_name='salesTable')
print(f"sales data from is ==> {df_sales}")
print(" ")

df_customer = pd.read_excel(file, sheet_name='customerTable')
print(f"custmer data from is ==> {df_customer}")
print(" ")

df_orders = pd.read_excel(file, sheet_name='ordersTable')
print(f"orders data from is ==> {df_orders}")
print(" ")

df_items = pd.read_excel(file, sheet_name='itemsTable')
print(f"item data from is ==> {df_items}")
print(" ")

sales data from is ==>    sales_id customer_id
0       101       C1001
1       102       C1002
2       103       C1003
3       104       C1001
4       105       C1005
5       106       C1006
6       107       C1007
7       108       C1008
8       150       C1050

custmer data from is ==>    customer_id  age
0        C1001   30
1        C1002   25
2        C1003   40
3        C1004   22
4        C1005   35
5        C1006   28
6        C1007   19
7        C1008   40
8        C1009   23
9        C1010   31
10       C1045   37

orders data from is ==>   order_id  sales_id item_id  quantity
0    O2001       101   I3001         3
1    O2002       102   I3002         2
2    O2003       103   I3003         1
3    O2004       104   I3004         4
4    O2005       105   I3005         2
5    O2050       150   I3050         3

item data from is ==>    item_id          item_name
0    I3001             Laptop
1    I3002         Smartphone
2    I3003         Headphones
3    I3004             Tablet
4    I3005    Fitness Tracker
5    I3006     Wireless Mouse
6    I3007       Coffee Maker
7    I3008           Yoga Mat
8    I3009         Sunglasses
9    I3010   Portable Charger
10   I3045  Bluetooth Speaker

In [40]:
#joining the data frame (merge function)
merged_data = pd.merge(df_customer, df_sales, on='customer_id')
merged_data = pd.merge(merged_data, df_orders, on='sales_id')
merged_data = pd.merge(merged_data, df_items, on='item_id')

In [41]:
#filter the customer by age 
filtered_data = merged_data[(merged_data['age'] >= 18) & (merged_data['age'] <= 35)]

In [42]:
#calculating each quantoty sum grouping it by customer and item
result = filtered_data.groupby(['customer_id', 'item_name'])['quantity'].sum()

In [43]:
print(result)

customer_id  item_name
C1001        Laptop             3
             Tablet             4
C1002        Smartphone         2
C1005        Fitness Tracker    2
Name: quantity, dtype: int64